PORT=3000
NODE_ENV=development

PHOENIQS_API_KEY=your_phoeniqs_api_key_here
PHOENIQS_API_URL=https://maas.phoeniqs.com/v1
PHOENIQS_MODEL=inference-gpt-oss-120b

SIX_MCP_TOKEN=your_six_mcp_token_here
SIX_MCP_URL=https://ca-mcpwebapi-tools.nicepebble-599ed11f.westeurope.azurecontainerapps.io/mcp

NEWSAPI_KEY=your_newsapi_key_here
NEWSAI_API_URL=https://eventregistry.org/api/v1
